<p>Каждые 5 секунд добавляется число в массив</p>

<button (click)="getCounter()">Запустить получение данных</button>
<button *ngIf="enableStopButton" (click)="stopSubs()">
  Остановить поток данных
</button>

<p *ngFor="let count of counterService.counterArray">{{ count }}</p>



<!--<div>
  <h1>Числа</h1>
  <button type="submit">Остановить поток 1</button>
  <button type="submit">Остановить поток 2</button>
  <table>
    <thead>
      <tr>
        <th>Начиная с 0</th>
        <th>Рандомные</th>
      </tr>
    </thead>
    <tbody>
        <td></td>
        <td></td>
    </tbody>
  </table>
</div>

<button (click)="enableIntervalOperator()">Запустить Interval Operator</button>
<button (click)="disableIntervalOperator()">Остановить Interval Operator</button>

<button (click)="enableMapFilterOperator()">Запустить Map, Filter Operator</button>
<button (click)="disableMapFilterOperator()">Остановить Map, Filter Operator</button>-->

